
snippet eh "eh" wA
é
endsnippet

snippet nao "nao" wA
não
endsnippet

snippet signg "gmail signature" w
Att.
Lucas Marcondes
lucasnascimento95@gmail.com
endsnippet

snippet signh "hotmail signature" w
Att.
Lucas Marcondes
lucasnascimento95@hotmail.com
endsnippet
